venv/* linguist-vendored
instance/* linguist-vendored
backend/* linguist-vendored
*.json linguist-vendored

# Priorizar arquivos Angular
*.ts linguist-detectable=true linguist-language=TypeScript
*.html linguist-detectable=true linguist-language=HTML
*.scss linguist-detectable=true linguist-language=SCSS
*.css linguist-detectable=true linguist-language=CSS

# Reduzir a detecção de Python
*.py linguist-detectable=false
